body{
    font-family: Batman forever, papyrus, 'Courier New', Courier, monospace;
    background-color: rgb(249, 245, 243);
    background-image: url("https://wallpapercave.com/wp/6OF3HoQ.jpg");
    background-repeat: repeat;
    color: rgb(245, 242, 239);
    background-size: contain;
    text-align: center;
}
img{
    display: block;
    /*Content*/
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: auto;
    text-align: center;
}
iframe {
  display: block;
  width: 45%;
  height: 50%;
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: auto;
    text-align: center;
}
a:visited{
    color: rgb(254, 253, 253);
}
li{
    font-style: italic;
    text-align: left;
}
li:hover{
    font-size: 105%;
    text-decoration: underline;
    background-color: rgb(19, 19, 189);
}
.common{
    background-color:aliceblue#cccccc ;
    border: 2px solid white;
    position: absolute
}
.header{
top:5px;
left: 5px;
right: 5px;
height: 100 px
}
.leftmenu{
top: 50px;
left: 5px;
width: 100px;
bottom: 0px;
}
.rightmenu{
    top: 50px;
    right: 5px;
    width: 100px;
    bottom:0px
}
